/* 
    Created on : Apr 16, 2021, 11:06:05 AM
    Author     : minh
*/
#employer-header {
    position: relative;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 70% 100%;
    background-position: center;
}
#employer-header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60%;
    height: 80%;
}
#employer-header h2{
    z-index: 2;
    /* transform: translate(0, 30%); */
}
#search-applicant {
    margin-left: 2%;
}

#employer-content {   
    min-height: 500px;
}
#employer-content>div:first-child {
    position: relative;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; 
    border: 1px solid #e8ecec;
    background-color: rgb(251, 251, 251);
    height: 100%;
    padding: 0;
}
#employer-content>div:first-child>div:first-child {
    background-color: rgb(240, 240, 240);
    border-bottom: 1px solid rgb(230, 230, 230);
}
#employer-content>div:first-child>div:last-child {
    margin: 0 20px;
}
#employer-content>div:first-child>div:last-child>.form-control {
    margin: 5px 0;
}
#employer-content>div:first-child>div:last-child form {
    margin-top: 5px;
}
#employer-content>div:first-child>div:last-child form>div:first-child {
    padding-right: 0;
}
#employer-content>div:first-child>div:last-child form input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0; 
}
#employer-content>div:first-child>div:last-child form>div:last-child {
    padding-left: 0;
}
#employer-content>div:first-child>div:last-child form button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0; 
}
#employer-content>div:last-child label {
    display: block;
    text-align: left;
}

#employer-content>div:last-child form {
    padding: 20px 30px;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.news-container {
    margin: 20px 0;
    padding: 20px 30px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.19);
    transition: box-shadow 0.2s ease-in-out;
}
.news-container:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.news-title {
    font-size: large;
    text-align: center;
    padding: 5px;
}

/* Profile Box in Search  */
.card-container {
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	padding-top: 30px;
	position: relative;
	width: 250px;
	max-width: 100%;
	text-align: center;
}
.card-container .round {
	border: 1px solid #03cb50;
	border-radius: 50%;
	padding: 7px;
}
.button-detail {
	padding-bottom: 15px;
    color: white;
}
.container-text p {
    text-align: left;   
    font-size: 14px;
    padding-left: 5px;
}

/* History of the news  */
.card-news {
    width: 400px;
    height: 250px;
    background-color: #fff;
    background: linear-gradient(#f8f8f8, #fff);
    box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin: 1.5rem;
}
.card-news h1 {
    text-align: center;
}
.card-news .additional {
    position: absolute;
    width: 30px;
    height: 100%;
    background: linear-gradient(#d49691, #e78a82);
    transition: width 0.4s;
    overflow: hidden;
    z-index: 2;
    padding-top: 2rem;
}
.card-news:hover .additional {
    width: 100%;
}
.card-news .additional .more-info {
    /* width: 300px; */
    float: left;
    position: absolute;
    left: 50px;
    height: 100%;
}
.card-news .general {
    width: 445px;
    height: 100%;
    /* position: absolute; */
    top: 0;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    padding: 5rem;
    padding-top: 2rem;
}
.card-news .additional .user-card {
    width: 60px;
    height: 100%;
    position: relative;
    float: left;
}
.card-news .additional .user-card::after {
    content: "";
    display: block;
    position: absolute;
    top: 10%;
    right: -2px;
    height: 80%;
    border-left: 2px solid rgba(0,0,0,0.025);
}
.card-news p {
    font-size: 15px;
}