/* 
    Created on : Apr 7, 2021, 2:22:29 PM
    Author     : minh
*/
#header-sticky {
    font-family: "Barlow",sans-serif;
    font-size: 18px;
    background-color: white;
    overflow: hidden;
    width: 100%;
    transform: translate(0, -20px);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a.nav-link {
    color: rgb(40, 57, 90);
}

a.nav-link:hover {
    color: rgb(55, 105, 124);
    text-decoration: underline;
}