/* 
    Created on : Apr 9, 2021, 11:20:34 AM
    Author     : minh
*/
#register-container {
    width: 100%;
    padding: 5% 0;
}
#register-block {
    width: 40%;
    margin: auto;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 20px 60px 0 rgba(0,0,0,0.3);
}
#register-block > div:first-child {
    margin: 0;
    border: 5px 5px 0 0;
}
#register-block div:first-child p {
    color: white;
    cursor: pointer;
    text-align: center;
    padding-top: 5px;
    outline-color: white;
}
#register-block div:first-child p:first-child {
    border-radius: 0;
    border-top-left-radius: 3px;
}
#register-block div:first-child p:last-child {
    border-radius: 0;
    border-top-right-radius: 3px;
}
#register-block form {
    width: 80%;
    margin: auto;
}
.form-control:not(.btn) {
    background-color: rgb(246,246,246);
}
#register-block > div:last-child {
    text-align: center;
    margin-top: 10px; 
    padding: 10px 0 5px;
    background-color: rgb(246,246,246);
}
